---
name: Pull Request

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

env:
  PROVIDER: proxmoxve
  GO111MODULE: "on"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Provider
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.19.x]
        golangci-lint-version: [v1.52.1]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "${{ matrix.go-version }}"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.9.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/setup-pulumi@v2

      - name: Build Provider
        run: make provider
      - name: Lint Provider
        uses: golangci/golangci-lint-action@v3
        with:
          version: "${{ matrix.golangci-lint-version }}"
          working-directory: provider
          args: -c ../.golangci.yml
          skip-pkg-cache: true
          skip-build-cache: true
