---
name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

env:
  PROVIDER: proxmoxve
  GO111MODULE: "on"
  NUGET_FEED_URL: https://api.nuget.org/v3/index.json

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release

  publish_provider:
    if: needs.release.outputs.release_created
    runs-on: ubuntu-latest
    name: Publish Provider
    permissions:
      id-token: write
      contents: write
    needs:
      - release
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.21.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.11.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@v5

      - name: Install cosign
        uses: sigstore/cosign-installer@v3.5.0
      - name: Download Syft
        uses: anchore/sbom-action/download-syft@v0.15.10

      - name: Release via GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          args: -p 3 release --clean --timeout 60m0s
          version: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_sdk:
    if: needs.release.outputs.release_created
    runs-on: ubuntu-latest
    name: Publish SDK
    permissions:
      id-token: write
      contents: read
    needs:
      - release
      - publish_provider
    strategy:
      max-parallel: 10
      matrix:
        go-version: [1.21.x]
        node-version: [18.x]
        dotnet-version: [3.1.301]
        python-version: [3.9]
        java-version: [11]
        language:
          - go
          - nodejs
          - python
          - dotnet
        #  - java # TODO: https://github.com/muhlba91/pulumi-proxmoxve/issues/66

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.11.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@v5

      - name: Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "${{ matrix.dotnet-version }}"
        if: matrix.language == 'dotnet'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
        if: matrix.language == 'python'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"
        if: matrix.language == 'nodejs'
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: ${{ matrix.java-version }}
        if: matrix.language == 'java'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        if: matrix.language == 'java'

      - name: Install Plugins
        run: make install_plugins
      - name: Update Path
        run: echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Build SDK
        run: make build_${{ matrix.language }}

      - uses: hashicorp/vault-action@v3
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          secrets: |
            github-pulumi-proxmoxve/data/nuget publish_key | NUGET_PUBLISH_KEY ;
            github-pulumi-proxmoxve/data/npm token | NPM_TOKEN ;
            github-pulumi-proxmoxve/data/java signing_key | SIGNING_KEY ;
            github-pulumi-proxmoxve/data/java signing_key_id | SIGNING_KEY_ID ;
            github-pulumi-proxmoxve/data/java signing_password | SIGNING_PASSWORD ;
            github-pulumi-proxmoxve/data/sonatype publish_password | SIGNING_PASSWORD ;
            github-pulumi-proxmoxve/data/sonatype publish_username | PUBLISH_REPO_USERNAME

      - name: Publish .NET SDK
        run: |
          dotnet nuget push -s "${{ env.NUGET_FEED_URL }}" -k "${{ env.NUGET_PUBLISH_KEY }}" ${{github.workspace}}/sdk/dotnet/bin/Debug/*.nupkg
        if: matrix.language == 'dotnet'

      - name: Publish Python SDK
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          packages-dir: "${{ github.workspace }}/sdk/python/bin/dist/"
        if: matrix.language == 'python'

      - name: Publish NodeJS SDK
        uses: JS-DevTools/npm-publish@v3
        with:
          package: ./sdk/nodejs/bin/package.json
          access: public
          token: ${{ env.NPM_TOKEN }}
          provenance: true
        if: matrix.language == 'nodejs'

      - name: Java PACKAGE_VERSION
        run: echo "PACKAGE_VERSION=$(pulumictl get version --language generic)" >> $GITHUB_ENV
        if: matrix.language == 'java'
      - name: Publish Java SDK
        uses: gradle/gradle-build-action@v3
        with:
          arguments: publishToSonatype closeAndReleaseSonatypeStagingRepository
          build-root-directory: ./sdk/java
        if: matrix.language == 'java'

  tag_sdk:
    if: needs.release.outputs.release_created
    runs-on: ubuntu-latest
    name: Tag SDK Release
    permissions:
      id-token: write
      contents: write
    needs:
      - release
      - publish_sdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Git
        run: |
          git config --local user.email "${{ env.GITHUB_ACTION }}+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Get Tag Name
        run: |
          REF_NAME=`git describe --abbrev=0 --tags`
          echo "REF_NAME=${REF_NAME}" >> $GITHUB_ENV

      - name: Tag SDK Version
        run: |
          git tag -a sdk/${{ env.REF_NAME }} -m sdk/${{ env.REF_NAME }}
      - name: Push to Repository
        run: |
          git push origin sdk/${{ env.REF_NAME }}
