---
name: Verify

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

env:
  PROVIDER: proxmoxve
  GO111MODULE: "on"

jobs:
  conform:
    runs-on: ubuntu-latest
    name: Conform

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: siderolabs/conform@v0.1.0-alpha.27
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  provider:
    runs-on: ubuntu-latest
    name: Lint Provider
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.21.x]
        golangci-lint-version: [v1.54.2]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"
          cache-dependency-path: "**/*.sum"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.11.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@v5

      - name: Build Provider
        run: make provider
      - name: Lint Provider
        uses: golangci/golangci-lint-action@v4
        with:
          version: "${{ matrix.golangci-lint-version }}"
          working-directory: provider
          args: -c ../.golangci.yml
          skip-pkg-cache: true
          skip-build-cache: true

  sdk:
    runs-on: ubuntu-latest
    name: Build SDK
    strategy:
      max-parallel: 10
      matrix:
        go-version: [1.21.x]
        node-version: [18.x]
        dotnet-version: [3.1.301]
        python-version: [3.9]
        java-version: [11]
        language:
          - go
          - nodejs
          - python
          - dotnet
          - java

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ matrix.go-version }}"
          cache-dependency-path: "**/*.sum"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.11.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@v5

      - name: Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "${{ matrix.dotnet-version }}"
        if: matrix.language == 'dotnet'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
        if: matrix.language == 'python'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"
        if: matrix.language == 'nodejs'
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: ${{ matrix.java-version }}
        if: matrix.language == 'java'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        if: matrix.language == 'java'

      - name: Build SDK
        run: make build_${{ matrix.language }}
