---
name: Verify

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

env:
  PROVIDER: proxmoxve
  GO111MODULE: "on"

jobs:
  conform:
    runs-on: ubuntu-latest
    name: Conform

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: siderolabs/conform@6380738b7fdfc68b208ce0674c4ac1ba314ba600 # v0.1.0-alpha.27
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  provider:
    runs-on: ubuntu-latest
    name: Lint Provider
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.25.x]
        golangci-lint-version: [v2.6.2]

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "${{ matrix.go-version }}"
          cache-dependency-path: "**/*.sum"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1

      - name: Build Provider
        run: make provider
      - name: Lint Provider
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: "${{ matrix.golangci-lint-version }}"
          working-directory: provider
          args: -c ../.golangci.yml
          skip-cache: true
          skip-save-cache: true

  sdk:
    runs-on: ubuntu-latest
    name: Build SDK
    strategy:
      max-parallel: 10
      matrix:
        go-version: [1.25.x]
        node-version: ["24"]
        dotnet-version: [8.0.x]
        python-version: [3.11]
        java-version: [11]
        language:
          - go
          - nodejs
          - python
          - dotnet
          # - java

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "${{ matrix.go-version }}"
          cache-dependency-path: "**/*.sum"

      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1

      - name: Setup DotNet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: "${{ matrix.dotnet-version }}"
        if: matrix.language == 'dotnet'
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "${{ matrix.python-version }}"
        if: matrix.language == 'python'
      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "${{ matrix.node-version }}"
        if: matrix.language == 'nodejs'
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: corretto
          java-version: ${{ matrix.java-version }}
        if: matrix.language == 'java'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        if: matrix.language == 'java'

      - name: Build SDK
        run: make build_${{ matrix.language }}
